# **Multiple_Linear_Regression**

A multible linear regression model represents the relationship between <u>Two or More Independent variables</u> and <u>One dependent Variable</u>

Equation:Y=a1X1+a2X2-a3X3+b
independant variables: X1,X2,X3
dependent variables: Y
Coefficients/slops: a1,a2,a3,
interceptor/constatnt: b

![image](https://upload.wikimedia.org/wikipedia/commons/a/ae/2d_multiple_linear_regression.gif)

# **Step1**: Importing Necessary Libraries

In [ ]:
#Importing Necessary Libraries
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#I will use datascience library to show the difference between PANDAS and DATASCIENCE tool in handling the tables
# feel free to use any if them to prepare you data as input for the machine!

from datascience import *


###I will use datascience library to show the difference between PANDAS and DATASCIENCE tool in handling the dataset.
### Feel free to use any if them to prepare you data as input for the machine!

In [ ]:
from datascience import *

**Step2**: Importing the Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path= '/content/drive/MyDrive/'

**Note**: we can use Panda to read big dataset or datascience library

In [ ]:
# Using Pandas
dataset = pd.read_csv(path +'petrol_consumption.csv')  # the output is dataframe

In [ ]:
# datasetP
dataset

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.00,3571,1976,0.525,541
1,9.00,4092,1250,0.572,524
2,9.00,3865,1586,0.580,561
3,7.50,4870,2351,0.529,414
4,8.00,4399,431,0.544,410
5,10.00,5342,1333,0.571,457
6,8.00,5319,11868,0.451,344
7,8.00,5126,2138,0.553,467
8,8.00,4447,8577,0.529,464
9,7.00,4512,8507,0.552,498
10,8.00,4391,5939,0.530,580
11,7.50,5126,14186,0.525,471
12,7.00,4817,6930,0.574,525
13,7.00,4207,6580,0.545,508
14,7.00,4332,8159,0.608,566
15,7.00,4318,10340,0.586,635
16,7.00,4206,8508,0.572,603
17,7.00,3718,4725,0.540,714
18,7.00,4716,5915,0.724,865
19,8.50,4341,6010,0.677,640
20,7.00,4593,7834,0.663,649
21,8.00,4983,602,0.602,540
22,9.00,4897,2449,0.511,464
23,9.00,4258,4686,0.517,547
24,8.50,4574,2619,0.551,460
25,9.00,3721,4746,0.544,566
26,8.00,3448,5399,0.548,577
27,7.50,3846,9061,0.579,631
28,8.00,4188,5975,0.563,574
29,9.00,3601,4650,0.493,534
30,7.00,3640,6905,0.518,571
31,7.00,3333,6594,0.513,554
32,8.00,3063,6524,0.578,577
33,7.50,3357,4121,0.547,628
34,8.00,3528,3495,0.487,487
35,6.58,3802,7834,0.629,644
36,5.00,4045,17782,0.566,640
37,7.00,3897,6385,0.586,704
38,8.50,3635,3274,0.663,648
39,7.00,4345,3905,0.672,968
40,7.00,4449,4639,0.626,587
41,7.00,3656,3985,0.563,699
42,7.00,4300,3635,0.603,632
43,7.00,3745,2611,0.508,591
44,6.00,5215,2302,0.672,782
45,9.00,4476,3942,0.571,510
46,7.00,4296,4083,0.623,610
47,7.00,5002,9794,0.593,524

In [ ]:
dataset.head(2)

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524

In [ ]:
dataset.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

# **Step3**: Preparing the Data



*   Choose which parameters/ attributes/or columns are going to be included for prediction



> Using Pandas

In [ ]:
X = dataset[['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence(%)']]  #return frame-dataset--> with The factor that goint to be used for prediction
y = dataset['Petrol_Consumption']# return frame-dataset--> the result

In [ ]:
# Draw a scatter plot
# df.plot.scatter(x = 'Name', y = 'Age', s = 100);
dataset.plot.scatter(x= 'Average_income',y='Petrol_Consumption', s=10)

In [ ]:
dataset.plot.scatter(x= 'Paved_Highways',y='Petrol_Consumption', s=10)

In [ ]:

dataset.plot.scatter(x= 'Petrol_tax',y='Petrol_Consumption', s=10)

In [ ]:
type(X)

pandas.core.frame.DataFrame



*   Split data to **training** and **test** sets

In [ ]:
#using panda
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) # we get the same train and test sets across different executions.

#**Step4:**  Machine Lerning

there are different types/libraries for machine learning, we choose them depending on the data type, objective of the project.

for more information ask ChatGPT about the use of:<br>
* 'Tensor flow',
* 'PyTorch'

   - **Scikit-learn**: library is focused on machine learning and provides a wide range of algorithms for tasks such as classification, regression, clustering, and more. Scikit-learn is designed to be user-friendly and accessible.

**Determine Training the Algorithm**

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression() #create linear regression object
regressor.fit(X_train, y_train)  #  fitting data #x needs to be 2D array

LinearRegression()

In [ ]:
# from sklearn.linear_model import LinearRegression
# regressor = LinearRegression()
# regressor.fit(XT_train, yT_train)

## Step 5: Predictions

In [ ]:
# input the x1,x2,x3,...etc. from test dataset as input
y_pred = regressor.predict(X_test)
y_pred                              #the result is the predected y

array([ 626.67291305,  609.65004171,  529.08697609,  707.86828058,
        424.14053845,  554.89575405,  545.47094632,  688.14488413,
        287.86444277,  680.78949886])

**compare the actual output values for X_test with the predicted values**

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

    Actual   Predicted
27     631  626.672913
26     577  609.650042
45     510  529.086976
19     640  707.868281
11     471  424.140538
21     540  554.895754
0      541  545.470946
32     577  688.144884
6      344  287.864443
44     782  680.789499

## What are the Coefficients?

In [ ]:
#Checking the coefficients(a1, a2, a3)
regressor.coef_

array([ -2.24585783e+01,  -9.12735629e-02,  -1.07189886e-03,
         1.48534690e+03])

# What is te interseptor value?

In [ ]:
# Checking the interceptor (b)
regressor.intercept_

295.84699459392164

## The equation of our data

Y =-2.65741387e-031976 -3.86197262e+01*X1  -5.86160410e-02*X2  + 1.34064365e+03*X3

In [ ]:
# Ckeching Y with the equation: Y=a1X1_a2X2+...+b

Y= -3.86197262e+01*9.0 -5.86160410e-02*3571 -2.65741387e-031976 + 1.34064365e+03*0.525
Y

146.94249803900004

# **Step 6**:Evaluating the Algorithm

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 45.8649489745
Mean Squared Error: 3424.07986505
Root Mean Squared Error: 58.5156377822

**Evaluate the Model**
> **accuracy**

In [ ]:
from sklearn.metrics import r2_score
Accuracy=r2_score(y_test,y_pred)*100
print(" Accuracy of the model is %.2f" %Accuracy)

regressor.score(X_test, y_test)

 Accuracy of the model is 71.26

0.71256195303432424

In [ ]:
from sklearn.metrics import mean_squared_error
print('The Error of our Model is: ',mean_squared_error(y_test,y_pred))

The Error of our Model is:  3424.07986505

There are many factors that may have contributed to this inaccuracy, a few of which are listed here:

Need more data: Only one year worth of data isn't that much, whereas having multiple years worth could have helped us improve the accuracy quite a bit.<br>
Bad assumptions: We made the assumption that this data has a linear relationship, but that might not be the case. Visualizing the data may help you determine that. <br>
Poor features: The features we used may not have had a high enough correlation to the values we were trying to predict.

In [ ]:
galton=Table.read_table('/content/drive/MyDrive/data science/galton.csv')

In [ ]:
galton.show(3)

In [ ]:
galton = pd.read_csv('/content/drive/MyDrive/data science/galton.csv')

In [ ]:
galton['gender'].replace(['female','male'],[0,1], inplace=True)
galton

# Note: in this table we have Categorical data

,family,father,mother,midparentHeight,children,childNum,gender,childHeight
0,1,78.5,67.0,75.43,4,1,1,73.2
1,1,78.5,67.0,75.43,4,2,0,69.2
2,1,78.5,67.0,75.43,4,3,0,69.0
3,1,78.5,67.0,75.43,4,4,0,69.0
4,2,75.5,66.5,73.66,4,1,1,73.5
...,...,...,...,...,...,...,...,...
929,203,62.0,66.0,66.64,3,1,1,64.0
930,203,62.0,66.0,66.64,3,2,0,62.0
931,203,62.0,66.0,66.64,3,3,0,61.0
932,204,62.5,63.0,65.27,2,1,1,66.5
933,204,62.5,63.0,65.27,2,2,0,57.0

## Choose the dependents and independents

In [ ]:
Xg=galton[['father',	'mother', 'gender']]
yg=galton['childHeight']

The problem comes from using **string** values as input. <br>
We need to quantify it!

In [ ]:
# To quantify the categorical data
galton['gender'].replace(['female','male'],[0,1], inplace=True)
galton

,family,father,mother,midparentHeight,children,childNum,gender,childHeight
0,1,78.5,67.0,75.43,4,1,1,73.2
1,1,78.5,67.0,75.43,4,2,0,69.2
2,1,78.5,67.0,75.43,4,3,0,69.0
3,1,78.5,67.0,75.43,4,4,0,69.0
4,2,75.5,66.5,73.66,4,1,1,73.5
...,...,...,...,...,...,...,...,...
929,203,62.0,66.0,66.64,3,1,1,64.0
930,203,62.0,66.0,66.64,3,2,0,62.0
931,203,62.0,66.0,66.64,3,3,0,61.0
932,204,62.5,63.0,65.27,2,1,1,66.5
933,204,62.5,63.0,65.27,2,2,0,57.0

In [ ]:
#Split dataset to train and test
Xg_train,Xg_test,yg_train,yg_test=train_test_split(Xg,yg,test_size=0.2)

In [ ]:

from sklearn.linear_model import LinearRegression
model = LinearRegression() #create linear regression object
model.fit(Xg_train, yg_train)

LinearRegression()

In [ ]:
HeightPred= model.predict(Xg_test)

In [ ]:
#Checking the coefficients(a1, a2, a3)
model.coef_

array([ 0.41033314,  0.28962927,  5.1755443 ])

In [ ]:
model.intercept_

17.093719371728731

In [ ]:
height=15 +0.3988773*62.5+	0.32032646*63+	5.13935922*0

In [ ]:
height

60.11039823

In [ ]:
# Test the Accuricy of our model

from sklearn.metrics import r2_score
Accuracy=r2_score(yg_test,HeightPred)*100
print(" Accuracy of the model is %.2f" %Accuracy)

model.score(Xg_test, yg_test)

 Accuracy of the model is 66.57

0.6657385843674779

In [ ]:
# error test (Mean Absolute Error, Mean Square Error, RMSE)
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(yg_test, HeightPred))
print('Mean Squared Error:', metrics.mean_squared_error(yg_test, HeightPred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yg_test, HeightPred)))

Mean Absolute Error: 1.68246547998
Mean Squared Error: 4.36979129468
Root Mean Squared Error: 2.09040457679

=============== End of part 1 =====================

----
---
=============== Part 2- Its your turn! =============



# <font color=red> **It's your turn!**

1. read Startup.csv file
2. follow the instructions in below cells

We will solve the problem of:
* Gategorical values
* NULL values

In [ ]:
start=pd.read_csv(path +'startups.csv')
# display file content
start.head(3)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

In [ ]:
X=start[['R&D Spend',	'Administration',	'Marketing Spend',	'State']] #contain the first four column
y=start['Profit'] #the last column 'Profit'

## we need to include all factors in our desicion., But!<br>
<font color=red>**this file containe the state names**</font><br>
in next cell we are going to quantify the states (string --> numaric)<br>

for this purpose we will use

[pd.get_dummies()](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html):  Convert categorical variable into dummy/indicator variables. Each variable is converted in as many 0/1 variables as there are different values.

[more examples on dummies](https://www.geeksforgeeks.org/python-pandas-get_dummies-method/?ref=gcse)

# How does `.get_dummies()` work?

try this code!
`
li = ['s', 'a', 't', np.nan]

print(pd.get_dummies(li, dummy_na=True))
`

In [ ]:
#To convert the column into categorical columns

states = pd.get_dummies(X['State'])
states

    California  Florida  New York
0            0        0         1
1            1        0         0
2            0        1         0
3            0        0         1
4            0        1         0
5            0        0         1
6            1        0         0
7            0        1         0
8            0        0         1
9            1        0         0
10           0        1         0
11           1        0         0
12           0        1         0
13           1        0         0
14           0        1         0
15           0        0         1
16           1        0         0
17           0        0         1
18           0        1         0
19           0        0         1
20           1        0         0
21           0        0         1
22           0        1         0
23           0        1         0
24           0        0         1
25           1        0         0
26           0        1         0
27           0        0         1
28           0        1         0
29           0        0         1
30           0        1         0
31           0        0         1
32           1        0         0
33           0        1         0
34           1        0         0
35           0        0         1
36           0        1         0
37           1        0         0
38           0        0         1
39           1        0         0
40           1        0         0
41           0        1         0
42           1        0         0
43           0        0         1
44           1        0         0
45           0        0         1
46           0        1         0
47           1        0         0
48           0        0         1
49           1        0         0

In [ ]:
# Drop the state coulmn
X=X.drop('State', axis=1)  # we will replace this column with 0,1

# concat the dummy variables to our dataset
X=pd.concat([X,states], axis=1)

In [ ]:
# Display the resulted dataset
X

    R&D Spend  Administration  Marketing Spend  California  Florida  New York
0   165349.20       136897.80        471784.10           0        0         1
1   162597.70       151377.59        443898.53           1        0         0
2   153441.51       101145.55        407934.54           0        1         0
3   144372.41       118671.85        383199.62           0        0         1
4   142107.34        91391.77        366168.42           0        1         0
5   131876.90        99814.71        362861.36           0        0         1
6   134615.46       147198.87        127716.82           1        0         0
7   130298.13       145530.06        323876.68           0        1         0
8   120542.52       148718.95        311613.29           0        0         1
9   123334.88       108679.17        304981.62           1        0         0
10  101913.08       110594.11        229160.95           0        1         0
11  100671.96        91790.61        249744.55           1        0         0
12   93863.75       127320.38        249839.44           0        1         0
13   91992.39       135495.07        252664.93           1        0         0
14  119943.24       156547.42        256512.92           0        1         0
15  114523.61       122616.84        261776.23           0        0         1
16   78013.11       121597.55        264346.06           1        0         0
17   94657.16       145077.58        282574.31           0        0         1
18   91749.16       114175.79        294919.57           0        1         0
19   86419.70       153514.11             0.00           0        0         1
20   76253.86       113867.30        298664.47           1        0         0
21   78389.47       153773.43        299737.29           0        0         1
22   73994.56       122782.75        303319.26           0        1         0
23   67532.53       105751.03        304768.73           0        1         0
24   77044.01        99281.34        140574.81           0        0         1
25   64664.71       139553.16        137962.62           1        0         0
26   75328.87       144135.98        134050.07           0        1         0
27   72107.60       127864.55        353183.81           0        0         1
28   66051.52       182645.56        118148.20           0        1         0
29   65605.48       153032.06        107138.38           0        0         1
30   61994.48       115641.28         91131.24           0        1         0
31   61136.38       152701.92         88218.23           0        0         1
32   63408.86       129219.61         46085.25           1        0         0
33   55493.95       103057.49        214634.81           0        1         0
34   46426.07       157693.92        210797.67           1        0         0
35   46014.02        85047.44        205517.64           0        0         1
36   28663.76       127056.21        201126.82           0        1         0
37   44069.95        51283.14        197029.42           1        0         0
38   20229.59        65947.93        185265.10           0        0         1
39   38558.51        82982.09        174999.30           1        0         0
40   28754.33       118546.05        172795.67           1        0         0
41   27892.92        84710.77        164470.71           0        1         0
42   23640.93        96189.63        148001.11           1        0         0
43   15505.73       127382.30         35534.17           0        0         1
44   22177.74       154806.14         28334.72           1        0         0
45    1000.23       124153.04          1903.93           0        0         1
46    1315.46       115816.21        297114.46           0        1         0
47       0.00       135426.92             0.00           1        0         0
48     542.05        51743.15             0.00           0        0         1
49       0.00       116983.80         45173.06           1        0         0

# **!** We have a **problem**
We can see that we have NULL values with the new data

So, we need to clean our data from null values
[**Note**: the size of dataset after `.concat` is bigger now]

In [ ]:
# Test if we have null values
X.isnull()   # this function returns True for the null values

    R&D Spend  Administration  Marketing Spend  California  Florida  New York
0       False           False            False       False    False     False
1       False           False            False       False    False     False
2       False           False            False       False    False     False
3       False           False            False       False    False     False
4       False           False            False       False    False     False
5       False           False            False       False    False     False
6       False           False            False       False    False     False
7       False           False            False       False    False     False
8       False           False            False       False    False     False
9       False           False            False       False    False     False
10      False           False            False       False    False     False
11      False           False            False       False    False     False
12      False           False            False       False    False     False
13      False           False            False       False    False     False
14      False           False            False       False    False     False
15      False           False            False       False    False     False
16      False           False            False       False    False     False
17      False           False            False       False    False     False
18      False           False            False       False    False     False
19      False           False            False       False    False     False
20      False           False            False       False    False     False
21      False           False            False       False    False     False
22      False           False            False       False    False     False
23      False           False            False       False    False     False
24      False           False            False       False    False     False
25      False           False            False       False    False     False
26      False           False            False       False    False     False
27      False           False            False       False    False     False
28      False           False            False       False    False     False
29      False           False            False       False    False     False
30      False           False            False       False    False     False
31      False           False            False       False    False     False
32      False           False            False       False    False     False
33      False           False            False       False    False     False
34      False           False            False       False    False     False
35      False           False            False       False    False     False
36      False           False            False       False    False     False
37      False           False            False       False    False     False
38      False           False            False       False    False     False
39      False           False            False       False    False     False
40      False           False            False       False    False     False
41      False           False            False       False    False     False
42      False           False            False       False    False     False
43      False           False            False       False    False     False
44      False           False            False       False    False     False
45      False           False            False       False    False     False
46      False           False            False       False    False     False
47      False           False            False       False    False     False
48      False           False            False       False    False     False
49      False           False            False       False    False     False

In [ ]:
# How many Null value?
X.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
California         0
Florida            0
New York           0
dtype: int64

In [ ]:
# Now let's clean dataset from null values
X.dropna()

    R&D Spend  Administration  Marketing Spend  California  Florida  New York
0   165349.20       136897.80        471784.10           0        0         1
1   162597.70       151377.59        443898.53           1        0         0
2   153441.51       101145.55        407934.54           0        1         0
3   144372.41       118671.85        383199.62           0        0         1
4   142107.34        91391.77        366168.42           0        1         0
5   131876.90        99814.71        362861.36           0        0         1
6   134615.46       147198.87        127716.82           1        0         0
7   130298.13       145530.06        323876.68           0        1         0
8   120542.52       148718.95        311613.29           0        0         1
9   123334.88       108679.17        304981.62           1        0         0
10  101913.08       110594.11        229160.95           0        1         0
11  100671.96        91790.61        249744.55           1        0         0
12   93863.75       127320.38        249839.44           0        1         0
13   91992.39       135495.07        252664.93           1        0         0
14  119943.24       156547.42        256512.92           0        1         0
15  114523.61       122616.84        261776.23           0        0         1
16   78013.11       121597.55        264346.06           1        0         0
17   94657.16       145077.58        282574.31           0        0         1
18   91749.16       114175.79        294919.57           0        1         0
19   86419.70       153514.11             0.00           0        0         1
20   76253.86       113867.30        298664.47           1        0         0
21   78389.47       153773.43        299737.29           0        0         1
22   73994.56       122782.75        303319.26           0        1         0
23   67532.53       105751.03        304768.73           0        1         0
24   77044.01        99281.34        140574.81           0        0         1
25   64664.71       139553.16        137962.62           1        0         0
26   75328.87       144135.98        134050.07           0        1         0
27   72107.60       127864.55        353183.81           0        0         1
28   66051.52       182645.56        118148.20           0        1         0
29   65605.48       153032.06        107138.38           0        0         1
30   61994.48       115641.28         91131.24           0        1         0
31   61136.38       152701.92         88218.23           0        0         1
32   63408.86       129219.61         46085.25           1        0         0
33   55493.95       103057.49        214634.81           0        1         0
34   46426.07       157693.92        210797.67           1        0         0
35   46014.02        85047.44        205517.64           0        0         1
36   28663.76       127056.21        201126.82           0        1         0
37   44069.95        51283.14        197029.42           1        0         0
38   20229.59        65947.93        185265.10           0        0         1
39   38558.51        82982.09        174999.30           1        0         0
40   28754.33       118546.05        172795.67           1        0         0
41   27892.92        84710.77        164470.71           0        1         0
42   23640.93        96189.63        148001.11           1        0         0
43   15505.73       127382.30         35534.17           0        0         1
44   22177.74       154806.14         28334.72           1        0         0
45    1000.23       124153.04          1903.93           0        0         1
46    1315.46       115816.21        297114.46           0        1         0
47       0.00       135426.92             0.00           1        0         0
48     542.05        51743.15             0.00           0        0         1
49       0.00       116983.80         45173.06           1        0         0

In [ ]:
# As you see we deleted all data , in other cases we may delet 50% of our data and so on,
# to avouid this problem we may replace NULL values with other values

X.fillna(0)

    R&D Spend  Administration  Marketing Spend  California  Florida  New York
0   165349.20       136897.80        471784.10           0        0         1
1   162597.70       151377.59        443898.53           1        0         0
2   153441.51       101145.55        407934.54           0        1         0
3   144372.41       118671.85        383199.62           0        0         1
4   142107.34        91391.77        366168.42           0        1         0
5   131876.90        99814.71        362861.36           0        0         1
6   134615.46       147198.87        127716.82           1        0         0
7   130298.13       145530.06        323876.68           0        1         0
8   120542.52       148718.95        311613.29           0        0         1
9   123334.88       108679.17        304981.62           1        0         0
10  101913.08       110594.11        229160.95           0        1         0
11  100671.96        91790.61        249744.55           1        0         0
12   93863.75       127320.38        249839.44           0        1         0
13   91992.39       135495.07        252664.93           1        0         0
14  119943.24       156547.42        256512.92           0        1         0
15  114523.61       122616.84        261776.23           0        0         1
16   78013.11       121597.55        264346.06           1        0         0
17   94657.16       145077.58        282574.31           0        0         1
18   91749.16       114175.79        294919.57           0        1         0
19   86419.70       153514.11             0.00           0        0         1
20   76253.86       113867.30        298664.47           1        0         0
21   78389.47       153773.43        299737.29           0        0         1
22   73994.56       122782.75        303319.26           0        1         0
23   67532.53       105751.03        304768.73           0        1         0
24   77044.01        99281.34        140574.81           0        0         1
25   64664.71       139553.16        137962.62           1        0         0
26   75328.87       144135.98        134050.07           0        1         0
27   72107.60       127864.55        353183.81           0        0         1
28   66051.52       182645.56        118148.20           0        1         0
29   65605.48       153032.06        107138.38           0        0         1
30   61994.48       115641.28         91131.24           0        1         0
31   61136.38       152701.92         88218.23           0        0         1
32   63408.86       129219.61         46085.25           1        0         0
33   55493.95       103057.49        214634.81           0        1         0
34   46426.07       157693.92        210797.67           1        0         0
35   46014.02        85047.44        205517.64           0        0         1
36   28663.76       127056.21        201126.82           0        1         0
37   44069.95        51283.14        197029.42           1        0         0
38   20229.59        65947.93        185265.10           0        0         1
39   38558.51        82982.09        174999.30           1        0         0
40   28754.33       118546.05        172795.67           1        0         0
41   27892.92        84710.77        164470.71           0        1         0
42   23640.93        96189.63        148001.11           1        0         0
43   15505.73       127382.30         35534.17           0        0         1
44   22177.74       154806.14         28334.72           1        0         0
45    1000.23       124153.04          1903.93           0        0         1
46    1315.46       115816.21        297114.46           0        1         0
47       0.00       135426.92             0.00           1        0         0
48     542.05        51743.15             0.00           0        0         1
49       0.00       116983.80         45173.06           1        0         0

Worning!
the dataset is modified so and now all values became zero
<br> You need to rerun cell from split data
Don't forget to comment the .dropna cell

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
# call training model
from sklearn.linear_model import LinearRegression   # for multi linear regression we use linear regression model but the number of independents are >1
model= LinearRegression()    #  create object of the learning model that you chose

# fit your training data to the model object
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
# Predicting the Test set results
y_pred = model.predict(X_test)

In [ ]:
# What is the RMSE of your model?

from sklearn.metrics import mean_squared_error
import numpy as np

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print('Root Mean Square Error:', rmse)

Root Mean Square Error: 8832.26904978

In [ ]:
# What is the RMSE between the test and predected results?
np.sqrt(metrics.mean_squared_error(y_test, y_pred))

8832.2690497844378

Refrences:
* [ML - Multiple Linear Regression](https://www.tutorialspoint.com/machine_learning_with_python/machine_learning_with_python_multiple_linear_regression.htm)
* [Understanding Train Test Split](https://builtin.com/data-science/train-test-split)